@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* universal selection */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: navy;
}




/* navbar section start */
nav{
    display: flex;
    justify-content: space-around;
    height: 13vh;
    align-items: center;
    box-shadow: 2px 2px #9f9898d2;
    
    
}
ul{
    display: flex;
    gap: 50px;
}
ul li a{
    color: black;
}
ul li >a:hover{
    color: orange;
}

.home{
    padding: 8px 12px;
    background: #41508A;
    color: white;
    border-radius: 8px;
    border-bottom: 1px solid gray;
}
.arrow{
    transform: rotate(-90deg);
    margin-left: 5px;
}
/* navbar section end */





/* banner section start */
.cloud-container{
    background-color: skyblue;
    height: 20vh;
    opacity: 0.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cloud{
    float: right;
    margin-left: 30px;
    align-self: flex-end;
    
}
.cloud1{
    
    float:left;
}
.computer{
    position: relative;
    left: 100px;
    
}

.person1{
    position: absolute;
    top: 338px;
    left: 250px;
}
.card{
    position: absolute;
    top: 280px;
    left: 870px;
}
.person2{
    
    position: absolute;
    top: 350px;
    left: 870px;
}
.icon{
    position: absolute;
    right: 215px;
    top: 600px;
    
}
.stairs{
    
    position: absolute;
    top: 360px;
    right: -100px;
}
.tree{
    position: absolute;
    top: 380px;
    z-index: -1;
    left: -150px;
}
.text{
    align-self: flex-end;
    margin-bottom: 15px;
}
h1{
    color:navy;
    font-weight: 800;
    font-size: 25px;
}
/* banner section end */



/* dropdown section start */
.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: gray;
  }

/* dropdown section end */


  /* previous btn start */
  .cng{
    position: absolute;
    left: -150px;
    color: white;
    background-color: rgb(152, 141, 141);
 
    border-radius: 50%;
    padding: 4px;
    top: 60px;

    left: -1270px;
   
}
/* previous btn end */




/* forward btn start */
.cng1{
    position: absolute;
    color: white;
    background-color: rgb(152, 141, 141);
    border-radius: 50%;
    padding: 4px;
    top: 80px;
    right: 150px;
}
/* forward btn end */